﻿
@{
    Layout=null;
}
@model  WebApplication1.Entities.Account
<!DOCTYPE html>
<html >
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Add</title>
</head>
<body>
    <h2>Add</h2>
    @using (Html.BeginForm("Edit", "Account", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Nombre</td>
                <td>
                    @Html.TextBoxFor(a => a.Nombre)
                </td>
            </tr>
            <tr>
                <td>Género</td>
                <td>
                    @Html.TextBoxFor(a => a.Género)
                </td>
            </tr>
            <tr>
                <td>Director</td>
                <td>
                    @Html.TextBoxFor(a => a.Director)
                </td>
            </tr>
            <tr>
                <td>Franquicia</td>
                <td>
                    @Html.TextBoxFor(a => a.Franquicia)
                </td>
            </tr>
            <tr>
                <td>País</td>
                <td>
                    @Html.TextBoxFor(a => a.País)
                </td>
            </tr>
            <tr>
                <td>Año</td>
                <td>
                    @Html.TextBoxFor(a => a.Año)
                </td>
            </tr>
            <tr>
                <td>Duración</td>
                <td>
                    @Html.TextBoxFor(a => a.Duración)
                </td>
            </tr>
            <tr>
                <td>Compañía Productora</td>
                <td>
                    @Html.TextBoxFor(a => a.Compañia_Productora)
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Save" />
                    
                    @Html.HiddenFor(a=>a.Id)
                </td>
            </tr>
        </table>
    }
</body>
</html>


