﻿
@{
    Layout=null;
}
@model  WebApplication1.Entities.Account
<!DOCTYPE html>


<html >
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Add</title>
</head>
<body>
    <h2>Buscar</h2>
    @using (Html.BeginForm("Find", "Account", FormMethod.Post))
    {


    <nav class="nav navbar-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("FindForName","Account")">Busqueda por nombre</a>
            </div>
        </div>
    </nav>
        
    }
</body>
</html>


