﻿
@{
    Layout=null;
}
@model  WebApplication1.Entities.Account
<!DOCTYPE html>
<html >
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Búsqueda por nombre</title>
</head>
<body>
    <h2>Add</h2>
    @using (Html.BeginForm("FindForName", "Account", FormMethod.Get))
    {
        <table>
            <tr>
                <td>Nombre</td>
                <td>
                    @Html.TextBoxFor(a => a.Nombre)
                </td>
            </tr>
        </table>
        <a href="@Url.Action("FindForName","Account")">Agregar nueva pelicula</a>
        <b />
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Género</th>
                <th>Director</th>
                <th>Fraquicia</th>
                <th>País</th>
                <th>Año</th>
                <th>Duración</th>
                <th>Compañía Productora</th>
            </tr>
            @foreach (var pelicula in ViewBag.resultado_por_nombre)
            {
                <tr>
                    <td>@pelicula.Nombre</td>
                    <td>@pelicula.Género</td>
                    <td>@pelicula.Director</td>
                    <td>@pelicula.Franquicia</td>
                    <td>@pelicula.País</td>
                    <td>@pelicula.Año</td>
                    <td>@pelicula.Duración</td>
                    <td>@pelicula.Compañia_Productora</td>
                    <td></td>
                </tr>
            }

        </table>
    }
</body>
</html>


